<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xml="http://www.w3.org/XML/1998/namespace"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	<display-name>Archetype Created Web Application</display-name>

	<context-param>
		<param-name>replay.plant.socket.host</param-name>
		<param-value>127.0.0.1</param-value>
	</context-param>

	<context-param>
		<param-name>replay.plant.socket.port</param-name>
		<param-value>5000</param-value>
	</context-param>

	<context-param>
		<param-name>replay.plant.socket.connectTimeoutMillis</param-name>
		<param-value>3000</param-value>
	</context-param>

	<context-param>
		<param-name>replay.plant.socket.readTimeoutMillis</param-name>
		<param-value>3000</param-value>
	</context-param>

	<!-- Plant サーバ種別: "c-process" (既定) または "java-process" -->
	<context-param>
		<param-name>replay.plant.process.type</param-name>
		<param-value>c-process</param-value>
	</context-param>
	
	<context-param>
    <param-name>process.enabled</param-name>
    <param-value>true</param-value>
</context-param>

<context-param>
    <param-name>process.definitions</param-name>
    <param-value>graphic,trend</param-value>
</context-param>

<!-- graphic -->
<context-param>
    <param-name>process.graphic.transport</param-name>
    <param-value>socket</param-value>
</context-param>
<context-param>
    <param-name>process.graphic.jar</param-name>
    <param-value>/opt/myapp/bin/graphic-server.jar</param-value>
</context-param>
<context-param>
    <param-name>process.graphic.count</param-name>
    <param-value>3</param-value>
</context-param>
<context-param>
    <param-name>process.graphic.host</param-name>
    <param-value>127.0.0.1</param-value>
</context-param>
<context-param>
    <param-name>process.graphic.port.start</param-name>
    <param-value>5100</param-value>
</context-param>
<context-param>
    <param-name>process.graphic.jvmOpts</param-name>
    <param-value>-Xms128m -Xmx256m</param-value>
</context-param>
<context-param>
    <param-name>process.graphic.args</param-name>
    <param-value>--mode=graphic</param-value>
</context-param>

<!-- trend -->
<context-param>
    <param-name>process.trend.transport</param-name>
    <param-value>fifo</param-value>
</context-param>
<context-param>
    <param-name>process.trend.jar</param-name>
    <param-value>/opt/myapp/bin/trend-server.jar</param-value>
</context-param>
<context-param>
    <param-name>process.trend.count</param-name>
    <param-value>2</param-value>
</context-param>
<context-param>
    <param-name>process.trend.fifo.dir</param-name>
    <param-value>/tmp/replay/trend</param-value>
</context-param>
<context-param>
    <param-name>process.trend.jvmOpts</param-name>
    <param-value>-Xms128m -Xmx256m</param-value>
</context-param>
<context-param>
    <param-name>process.trend.args</param-name>
    <param-value>--mode=trend</param-value>
</context-param>

</web-app>
